@model QL_Blogs.Models.Blog
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = ViewBag.objCategory;
    var listPosi = ViewBag.objPositionCate;
    var position = ViewBag.objPosition;
    var ShowBlog = ViewBag.objBlog;
}

<div class="container-fluid">
    <h2>Edit Blogs</h2>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8">
                    @Html.Hidden("ID")
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title)
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Descriptions)
                        @Html.TextBoxFor(model => model.Descriptions, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Descriptions)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Detail)
                        @Html.TextArea("Detail", null, new { @class = "form-control" })
                        @Html.ValidationMessage("Detail", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Thumbs)
                        @Html.TextBox("Thumbs", null, new { @type = "file" })
                        @if (Model.Thumbs != "")
                        {
                            <input class="form-control" value="@Model.Thumbs" />
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Category)
                        <select id="inputState" class="form-control" style="width: 110px;" name="Category">
                            @foreach (var item in list)
                            {
                                if (Convert.ToInt32(Model.Category) == item.ID)

                                {
                                    <option name="Category" value="@item.ID" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option name="Category" value="@item.ID">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Vị trí</label>
                        @foreach (var item in listPosi)
                        {
                            foreach (var pos in position)
                            {
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @if (item.ID == pos.ID)
                                        {
                                            <input type="checkbox" id="" name="Position" value="@item.ID" checked>@item.Name
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="" name="Position" value="@item.ID">@item.Name
                                        }
                                    </label>
                                </div>
                            }
                        }
                        @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Status)
                        @if (Model.Status)
                        {
                            <div class="form-check">
                                <input type="radio" name="Status" id="exampleRadios1" value="true" checked>
                                <label class="form-check-label">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="radio" name="Status" id="exampleRadios2" value="false">
                                <label class="form-check-label" for="exampleRadios2">
                                    No
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check">
                                <input type="radio" name="Status" id="exampleRadios1" value="true" checked>
                                <label class="form-check-label">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="radio" name="Status" id="exampleRadios2" value="false" checked>
                                <label class="form-check-label" for="exampleRadios2">
                                    No
                                </label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DataPublic)
                        <input class="form-control form-control-sm w-50" name="DatePublic" type="date" value="@Model.DataPublic.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="button">
                        <button class="btn btn-success" type="submit">Update</button>
                        <button class="btn btn-primary">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


