@model QL_Blogs.Models.Blog
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = ViewBag.objCategory;
    var listPosi = ViewBag.objPositionCate;
}

<div class="container-fluid">
    <h2>Edit Blogs</h2>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                @*<form method="post" id="myForm" name="myForms" onsubmit="return validateform()">*@
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title)
                        <input class="form-control" name="Title" id="Title" />
                        @Html.ValidationMessage("Title", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Descriptions)
                        <input class="form-control" name="Descriptions" id="Descriptions" />
                        @Html.ValidationMessage("Description", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Detail)
                        @Html.TextArea("Detail", null, new { @class = "form-control" })
                        @Html.ValidationMessage("Detail", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Thumbs)
                        @Html.TextBox("Thumbs", null, new { @type = "file" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Category)
                        <select id="inputState" class="form-control" style="width: 110px;" name="Category">
                            @foreach (var item in list)
                            {
                                <option name="Category" value="@item.ID">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Position)
                        <div>
                            @foreach (var item in listPosi)
                            {
                                <input type="checkbox" id="" name="Position" value="@item.ID">
                                <label for="vehicle1">@item.Name</label><br>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Status)
                        <div class="form-check">
                            <input type="radio" name="Status" id="exampleRadios1" value="true">
                            <label class="form-check-label">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="Status" id="exampleRadios2" value="false">
                            <label class="form-check-label" for="exampleRadios2">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DataPublic)
                        <input type="date" class="form-control" name="DataPublic" id="fileSelect" style="width: 150px;">
                    </div>
                    <div class="button">
                        <button class="btn btn-success">Update</button>
                        <button class="btn btn-primary">Clear</button>
                    </div>
                </div>
                @*</form>*@
            </div>
        </div>
    </div>
}

