@model  List<QL_Blogs.Models.Blog>
@{
    ViewBag.Title = "Search";

}
<div class="container-fluid">
    <h2>Search Blogs</h2>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <form method="post" id="myForm" name="myForms" onsubmit="return validateform()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-1">
                            <label id="font">Tiêu đề</label>
                        </div>
                        <div class="col-md-11">
                            <input type="text" name="searchString" class="form-control" value="@ViewBag.searchString" placeholder="Tiêu đề" />
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" >Search</button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluids">
    <div class="container-fluid">
        <h3>List Blogs</h3>
    </div>
    <div class="card-body" style="padding-bottom: 50px;">
        <table id="example" class="table table-bordered table-hover" style="width: 100%">
            <thead>
                <tr class="project-actions text-center">
                    <th>
                      ID
                    </th>
                    <th>
                        Tiêu đề
                    </th>
                    <th>
                       Loại
                    </th>
                    <th>
                       Trạng thái
                    </th>
                    <th>
                       Vị trí
                    </th>
                    <th>
                        Ngày Public
                    </th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="myTable" style="text-align: center;">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descriptions)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataPublic)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID },
                            new { onclick = "return confirm('Are sure wants to delete?');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



